# Unity
Library/
Temp/
obj/
Logs/

# IDE
.vscode/
.gradle/
.vs/

# NatML
ProjectSettings/Function.asset
ProjectSettings/NatML.asset
ProjectSettings/NatMLHub.asset
ProjectSettings/VideoKit.asset

# Misc
.DS_Store